<body style="background-color: lightgray;">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</body>
<!-- <footer class="footer" style="background-color: lightpink !important;">
  <div class="container">
<div class="content has-text-centered">

<p>
  Techincal Help: <b>1234567890</b>
</p>
</div>
  </div>

</footer> -->
<!-- <div class="container">
  <div class="header" >
    <app-nav-menu></app-nav-menu>

  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <h2>footer</h2>
  </div>

</div> -->
