<form [formGroup]='form' >
  <mat-card class="mat-card-user-edit">
    <mat-card-title>
      <label mat-card-title>Change Password</label>
    </mat-card-title>
    <mat-card-subtitle>
      <section class="display-section-label" >
        <mat-label>User Name : {{username}}</mat-label>
      </section>
    </mat-card-subtitle>
    <mat-card-content >
      <section class="display-section-class">
        <mat-form-field class="mat-form-field-edit" appearance="fill">
          <mat-label>Current Password</mat-label>
          <input type="text" formControlName="currentpassword" name="currentpassword"
           id="currentpassword" matInput placeholder="Current Password" >
          <mat-error *ngIf="!form.get('currentpassword').valid || form.get('currentpassword').touched">
            <span *ngIf="form.get('currentpassword').hasError('required')"><strong>Current Password: </strong>required</span>
            <span *ngIf="form.get('currentpassword').errors && form.get('currentpassword').errors.minlength"><strong>Current Password: </strong>minimum 8 characters required</span>
            <span *ngIf="form.get('currentpassword').errors && form.get('currentpassword').errors.maxlength"><strong>Current Password: </strong>maximum 20 characters allowed</span>
          </mat-error>
        </mat-form-field>
        </section>
        <section class="display-section-class">
          <mat-form-field class="mat-form-field-edit" appearance="fill">
            <mat-label>New Password </mat-label>
            <input type="text" formControlName="newpassword" name="newpassword"
            id="newpassword" matInput placeholder="New Password" >
            <mat-error *ngIf="!form.get('newpassword').valid || form.get('newpassword').touched">
              <span *ngIf="form.get('newpassword').hasError('required')"><strong>New Password: </strong>required</span>
              <span *ngIf="form.get('newpassword').errors && form.get('newpassword').errors.minlength"><strong>New Password: </strong>minimum 8 characters required</span>
              <span *ngIf="form.get('newpassword').errors && form.get('newpassword').errors.maxlength"><strong>New Password: </strong>maximum 20 characters allowed</span>
            </mat-error>
          </mat-form-field>
          </section>
          <section class="display-section-class">
            <mat-form-field class="mat-form-field-edit" appearance="fill">
              <mat-label>Confirm Password </mat-label>
              <input type="text" formControlName="confirmpassword" name="confirmpassword"
              id="confirmpassword" matInput placeholder="Confirm Password" >
              <mat-error *ngIf="!form.get('confirmpassword').valid || form.get('confirmpassword').touched">
                <span *ngIf="form.get('confirmpassword').hasError('required')"><strong>Confirm Password: </strong>required</span>
                <span *ngIf="form.get('confirmpassword').errors && form.get('confirmpassword').errors.minlength"><strong>Confirm Password: </strong>minimum 8 characters required</span>
                <span *ngIf="form.get('confirmpassword').errors && form.get('confirmpassword').errors.maxlength"><strong>Confirm Password: </strong>maximum 20 characters allowed</span>
              </mat-error>
            </mat-form-field>
            </section>
          <section class="display-section">
            <button mat-raised-button class="mat-button" color="accent" (click)="onSubmit()"
            [disabled] ="loading" >
            <span *ngIf="loading" class="spinner-border spinner-border-sm-1"></span>
              <b>Update</b>
            </button>
            <button mat-button (click)="close()">Close</button>
          </section>

    </mat-card-content>
    <!-- <mat-card-actions>

    </mat-card-actions> -->
  </mat-card>

</form>
